<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href='/'>Homepage</a></li>
        </ul>
    </nav>
    <header>
        <h1>Test</h1>
        
    </header>
    <main>
        Hello World
    </main>
</body>
</html>